@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --DARK-CYAN: hsl(158, 36%, 37%);
  --CREAM: hsl(30, 38%, 92%);
  --DARK-BLUE: hsl(212, 21%, 14%);
  --DARK-GRAY-BLUE: hsl(228, 12%, 48%);
  --WHITH: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--CREAM);
  display: grid;
  place-content: center;
  height: 100vh;
}

.product-container {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  max-width: 420px;
  background-color: var(--WHITH);
}

.product-picture img {
  width: 200px;
  height: 100%;
}

.product-info {
  padding: 1em 1.7em;
}
.product-info .pro-type {
  font-size: 0.5rem;
  color: var(--DARK-GRAY-BLUE);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product-info .product-name {
  margin-top: 0.4em;
  font-family: "Fraunces", serif;
  font-size: 1.45rem;
  line-height: 0.95;
  margin-bottom: 0.7em;
}
.product-info .details {
  font-size: 0.7rem;
  color: var(--DARK-GRAY-BLUE);
  margin-bottom: 1.3em;
}

.product-info .price {
  font-family: "Fraunces", serif;
  font-size: 1.6rem;
  color: var(--DARK-CYAN);
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;
}
.product-info .price span {
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  color: var(--DARK-GRAY-BLUE);
  margin-left: 1.1em;
}
button {
  width: 100%;

  border: none;
  color: var(--WHITH);
  font-size: 0.6rem;
  background-color: var(--DARK-CYAN);
  padding: 0.9em 0;
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  font-weight: 700;
}
button img {
  width: 12px;
  margin-right: 5px;
}
.product-picture .mobile {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    height: auto;
  }
  .product-container {
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin-top: 5rem;
  }
  .product-picture img {
    display: none;
  }
  .product-picture .mobile {
    display: block;
    width: 100%;
  }
}
